--find-links https://data.pyg.org/whl/torch-2.8.0+cpu.html
pandas==2.3.3
torch==2.8.0
numpy==2.3.5
scikit-learn==1.8.0
matplotlib==3.10.8
seaborn==0.13.2
torch_geometric==2.7.0
networkx==3.4.2 
scipy==1.16.3   
pyg_lib
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv
graph-measures
ipykernel
ipywidgets
optuna